.linkedin-enhanced-data-container {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.linkedin-enhanced-data-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.linkedin-enhanced-data-list-item {
  text-align: left;
}

.linkedin-enhanced-country-select {
  z-index: 9;
}
